<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JI Graduation Projects</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/assign_projects.css">
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".btn-submit").click(function (e) {
                var select = $(this).parents('.assign').find('.select-stu').find('.form-control');
                var pid = $(this).data('id');
                var assigned = $(this).data('assigned');
                var result = [];

                select.each(function (index, option) {
                    var chosen = $(option).find(":selected").text();
                    if (chosen === "SELECT") {
                        return;
                    }
                    result.push(chosen);
                });

                result = result.join(",");

                $.post("/assign", {
                    pid: pid,
                    usr_list: result,
                    reset: assigned === 'y' ? 1 : 0
                }, function (data, status) {
                    //alert(data);
                    window.location.reload();
                });
            });

        });
    </script>
</head>
<body>

{% include "navbar.html" %}

<div class="container">
    <div class="projects">
        <h3>After assigning one project, the others who chosen the same project will be rejected. The assigned person
            will leave his group after assigned and all other choice of him will be rejected.<br>All actions can't be
            redo.</h3>
        {% for id in projects %}
        {#        {% if projs[i]['assigned'] == 'n' %}#}
        <div class="single-proj">
            <div class="overview row">
                <div class="img col-md-3">
                    <a href="#">
                        <img class="thumbnail img-responsive" src="/img/{{ projects[id]['img'] }}">
                    </a>
                </div>
                <div class="title col-md-3">
                    <p> {{ projects[id]['title'] }} </p>
                </div>
                <div class="allgroups col-md-6">
                    {% if projects[id]['assigned'] == 'y' %}

                    {% else %}
                    {% for j in range(3) %}
                    <div class="somegro">
                        <ul>
                        <li>Preference {{ j + 1 }}:</li>
                        {% set temp = 0 %}
                        {% for users in projects[id]['wish'][j] %}
                        {% if len(users) <= 1 %}
                        {% if temp == 0 %}
                        <li>{{ users[0]['u_name'] }}&nbsp;
                            {% set temp = 1 %}
                            {% else %}
                            {{ users[0]['u_name'] }}</li>
                        {% set temp = 0 %}
                        {% end %}
                        {% end %}
                        {% end %}
                        {% if temp == 1 %}
                        </li>
                        {% end %}
                        {% for users in projects[id]['wish'][j] %}
                        {% if len(users) > 1 %}
                        <li>(
                            {% for user in users %}
                            {{ user['u_name'] }}
                            {% end %})
                        </li>
                        {% end %}
                        {% end %}
                        </ul>
                    </div>
                    {% end %}
                    {% end %}
                </div>
            </div>
            <div class="assign row">
                <div class="col-md-10">
                    <div class="label-assign">
                        <label>Assign:</label>
                    </div>
                    <div class="select">
                        <form role="form">
                            {% for k in range(5) %}
                            <div class="form-group select-stu">
                                {% if projects[id]['assigned'] == 'y' %}
                                <select class="form-control" disabled>
                                    {% if k < len(projects[id]['users']) %}
                                    <option>{{ projects[id]['users'][k] }}</option>
                                    {% else %}
                                    <option></option>
                                    {% end %}
                                </select>
                                {% else %}
                                <select class="form-control">
                                    <option>SELECT</option>
                                    {% for usr in students %}
                                    <option>{{ usr['u_name'] }}-{{ usr['id'] }}</option>
                                    {% end %}
                                </select>
                                {% end %}
                            </div>

                            {% end %}
                        </form>
                    </div>
                </div>
                <div class="col-md-2 comfirm">
                    {% if projects[id]['assigned'] == 'y' %}
                    <button class="btn btn-submit btn-warning" data-id="{{ id }}" data-assigned="y">Reset</button>
                    {% else %}
                    <button class="btn btn-submit btn-primary" data-id="{{ id }}" data-assigned="n">Confirm</button>
                    {% end %}
                </div>
            </div>
        </div>
        {#        {% end %}#}
        {% end %}
    </div>
</div>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
