<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JI Graduation Projects</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/dashboard.css">
</head>
<body>

{% include "navbar.html" %}

<div class="contents">
    <div class="container-fluid">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="/registed">My Profile</a></li>
                {% if role=='stu' %}
                <li><a href="/registed">My Project</a></li>
                {% else %}
                <li><a href="/export">Export Data</a></li>
                {% end %}
                <li><a href="/logout">Log out</a></li>
            </ul>
        </div>
        <div class="col-md-10 col-md-offset-2">
            <h1 class="page-header">My Profile</h1>
            <ul>
                <li>Name: {{ u_name }}</li>
                <li>Sex: {{ data['sex'] }}</li>
                <li>Student ID: {{ uid }}</li>
                <li>Progress: Active</li>
                <li>Group Status: {% if data['grouped']=='l' %}Leader{% elif data['grouped']=='n' %}Not grouped yet{% else %}Member{% end %}</li>
                <li>Identity: {{ data['role'] }}</li>
                <li>Major: {{ data['major'] }}</li>
                <li>Mobile Phone: {{ data['phone'] }}</li>
            </ul>
        </div>
    </div>
</div>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
