<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JI Graduation Projects</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/detail.css">
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#post").click(function () {
                var chosen;
                for (var i = 1; i < 4; i++) {
                    if ($('#inlineRadio' + i).is(":checked")) {
                        chosen = i - 1;
                        break;
                    }
                }
                $.post("/register",
                    {
                        res: {{ i }},
                        pref: chosen
                    },
                    function (data, status) {
                        window.location.reload();
                        //alert(data);
                    });
            });
            $("#quit").click(function () {
                $.post("/quit",
                    {
                        id: {{ i }}
                    },
                    function (data, status) {
                        window.location.reload();
                        //alert(data);
                    });
            });
            $("#edit").click(function () {
                window.location = "{{ baseurl }}/createproject?id={{ i }}";
            });
            $("#delete").click(function () {
                $.post("/deleteProj",
                    {
                        id: {{ i }}
                    },
                    function (data, status) {
                        window.location = "{{ baseurl }}";
                        //alert(data);
                    });
            });
        });
    </script>
</head>
<body>

{% include "navbar.html" %}

<div class="contents project-detail">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <img class="thumbnail img-responsive" src="/img/{{ proj['img'] }}">
                {% for p in proj['detail'] %}
                <p>{{ p }}
                </p>
                {% end %}
                Attached Files:
                <ul style="padding-left: 12px">
                    {% for file in files %}
                    <li>
                        <a href="{{ file['url'] }}" title="{{ file['name'] }}"
                           download="{{ file['name'] }}">{{ file['name'] }}</a>
                    </li>
                    {% end %}
                </ul>
            </div>
            <div class="col-md-4">
                {% if role=='stu' %}
                {% if grouped != 'y' %}
                {% if isIn==False %}
                <div class="project-submit">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#register-modal"
                            style="margin-bottom: 20px;">Register the Project
                    </button>
                    <div class="modal fade" id="register-modal" tabindex="-1" role="dialog"
                         aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                                            class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Are you sure to select the project?</h4>
                                </div>
                                <div class="modal-body">
                                    The selected project can be managed in your profile.
                                    <p>Select the project as:</p>
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"
                                               checked>Preference 1
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Preference
                                        2
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Preference
                                        3
                                    </label>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" id="post">Confirm</button>
                                </div>
                                _
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="project-submit">
                    <button class="btn btn-primary" id="quit" style="margin-bottom: 20px;">Quit the Project</button>
                </div>
                {% end %}
                {% end %}
                {% else %}
                <div class="project-submit">
                    <button class="btn btn-primary" id="edit" style="margin-bottom: 20px;">Edit the Project</button>
                </div>
                <div class="project-submit">
                    <button class="btn btn-primary" id="delete" style="margin-bottom: 20px;">Delete the Project</button>
                </div>

                {% end %}
                <div class="panel panel-success" style="width: 47%; float: left">
                    <div class="panel-heading">Instuctor</div>
                    <div class="panel-body">
                        {{ proj['instructor'] }}
                    </div>
                </div>
                <div class="panel panel-success" style="width: 47%; float: right">
                    <div class="panel-heading">Sponsor</div>
                    <div class="panel-body">
                        {{ proj['sponsor'] }}
                    </div>
                </div>

                <div class="panel panel-info" style="margin-top: 113px;">
                    <!-- Default panel contents -->
                    <div class="panel-heading">Current Selection Information</div>

                    <!-- List group -->
                    <ul class="list-group">
                        <li class="list-group-item">First choice:<br> {{ num[0][1] }} group(s), totally {{ num[0][0] }}
                            student(s)
                        </li>
                        <li class="list-group-item">Second Choice:<br> {{ num[1][1] }} group(s), totally {{ num[1][0] }}
                            student(s)
                        </li>
                        <li class="list-group-item">Third Choice:<br> {{ num[2][1] }} group(s), totally {{ num[2][0] }}
                            student(s)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
