<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JI Graduation Projects</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/groups.css">
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $(".btn-join").click(function(){
                $.post("/joinGroup",
                    {
                        gid: parseInt($(this).data('id')),
                        method: "join"
                    },
                    function(data,status){
                    window.location.reload();
                    //alert(data);
                });
            });
            $("#leave").click(function(){
                $.post("/joinGroup",
                    {
                        method: "quit"
                    },
                    function(data,status){
                        window.location.reload();
                    //alert(data);
                });
            });
            $("#create").click(function(){
                $.post("/joinGroup",
                    {
                        method: "create"
                    },
                    function(data,status){
                        window.location.reload();
                    //alert(data);
                });
            });
        });
    </script>
</head>
<body>

{% include "navbar.html" %}

<div class="contents groups">
    <div class="container-fluid">
        {% if role == 'stu' %}
        {% if stat == 'n' %}
        <button class="btn btn-success" data-toggle="modal" data-target="#leave-modal">Create a new group</button>
                  <div class="modal fade" id="leave-modal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <h4>Confirmation</h4>
                        </div>
                        <div class="modal-body">
                          Are you sure to create a new group?
                        </div>
                        <div class="modal-footer" align="center">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" id="create">Confirm</button>
                        </div>
                      </div>
                    </div>
                  </div>
        {% elif stat == 'l' %}
        <button class="btn btn-warning" data-toggle="modal" data-target="#leave-modal">Delete your group</button>
                  <div class="modal fade" id="leave-modal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <h4>Confirmation</h4>
                        </div>
                        <div class="modal-body">
                          Are you sure to delete your group?
                        </div>
                        <div class="modal-footer" align="center">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" id="leave">Confirm</button>
                        </div>
                      </div>
                    </div>
                  </div>
        {% end %}
        {% end %}
        <table class="table table-striped">
            <thead class="table-head">
            <tr>
              <td class="gro-no">Group No.</td>
              <td class="gro-led">Group Leader</td>
              <td class="gro-mem">Group Members</td>
                {% if role == 'stu' %}
              <td>Join / Leave</td>
                {% end %}
            </tr>
            </thead>
            <tbody>
            {% set id = 0 %}
            {% for i in groups %}
            <tr>
                {% set id = id + 1%}
                <td>{{ id }}</td>
                <td>
                    {% if groups[i]['leader'] %}
                    {% if role == 'admin' %}
                    <a href="/member/{{ groups[i]['leader']['id'] }}"> {{ groups[i]['leader']['u_name'] }}</a>
                    {% else %}
                    {{ groups[i]['leader']['u_name'] }}
                    {% end %}
                    {% end %}
                </td>
                <td>{% for user in groups[i]['members'] %}
                    {% if role == 'admin' %}
                    <a href="/member/{{ user['id'] }}"> {{ user['u_name'] }}</a>&nbsp;
                    {% else %}
                    {{ user['u_name'] }}&nbsp;
                    {% end %}
{#                    <br>#}
                    {% end %}
                </td>
                {% if role == 'stu' %}
                <td>
                    {% if gid != i %}
                    {% if len(groups[i]['members']) >= 4 %}
                  <button class="btn btn-success" disabled="disabled">Full</button>
                    {% elif stat=='n' %}
                  <button class="btn btn-success" data-toggle="modal" data-target="#join-modal{{ i }}">Join</button>
                  <div class="modal fade" id="join-modal{{ i }}">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <h4>Confirmation</h4>
                        </div>
                        <div class="modal-body">
                          Are you sure to join the group?
                        </div>
                        <div class="modal-footer" align="center">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary btn-join" data-id="{{ i }}" id="join">Confirm</button>
                        </div>
                      </div>
                    </div>
                  </div>
                    {% end %}
                    {% else %}
                  <button class="btn btn-warning" data-toggle="modal" data-target="#leave-modal">Leave</button>
                  <div class="modal fade" id="leave-modal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <h4>Confirmation</h4>
                        </div>
                        <div class="modal-body">
                          Are you sure to leave the group? {% if stat == 'l' %} If you leave the group, the group will be dismissed. {% end %}
                        </div>
                        <div class="modal-footer" align="center">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" id="leave">Confirm</button>
                        </div>
                      </div>
                    </div>
                  </div>
                    {% end %}
                </td>
                {% end %}
              </tr>
            {% end %}
            </tbody>
        </table>
    </div>
</div>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
