<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JI Graduation Projects</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/login.css">
</head>
<body>

{% include "navbar.html" %}

<div class="contents login-panel">
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-body">
                <form role="form" action="/userregister" method="post">
                    <div class="form-group">
                        <label for="exampleInputPassword1">Major</label>
                        <input name="major" class="form-control" id="exampleInputPassword1" placeholder="ECE or ME?">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Phone Number</label>
                        <input name="phone" class="form-control" id="exampleInputPassword1" placeholder="12345678912">
                    </div>
                    <div class="form-group" style="display: none">
                        <input name="next" class="form-control" value="{{ next }}">
                    </div>
                    <button type="submit" value="Sign in" class="btn btn-default btn-login-submit">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
